# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=c1f362123e4819036c3f710f1904c45debb85a103896a81a4e3c7a0353aeef933d0cc5beb33470237d3dedba32882cfb72b573af18ff3b1618f263305133ecbb
REDIS_URL=redis://localhost:6379/14
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
PORT=3000
